@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}


h1{ 

    font-weight: bolder;
    font-size: 4rem;
    margin-top: -16rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: normal;
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}